.Topic{
    background-color: rgb(212, 0, 255);
    text-align: center;color: rgb(21, 0, 99);
    border-radius: 10px;
    font-size: 45px;
    
}
#imgs{

  margin-left: 120px;
   
}
.apple{

   background: size 20px; ;
}
menu{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    display: inline;
}
head{
 font-size: 20px;
 text-align: center;
 background-color: blueviolet;

}
.image{
background-size: 10px ;
    vertical-align: bottom;
    margin-top: 20px;
    
}
div{

   
  /*  background-color: cadetblue;*/
  
}
#head{
    display: inline;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#berry{

    float: left;
}
#fruits{

    float: left;
    height: 220px;
    width: 250px;
}
body{

  
    font-family: sans-serif;
}
.Topic{color: white;}
.n{
    border-radius:  10%;
    float: right;
}
*{

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10;
}
#imag >*img{

    margin-right: 170px ;
    height: 100px;
    width: 100px;
}
img{
    border-radius: 25px;
    padding-left: 10px;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;


}#pump{
    padding-right: 12px;
    float: right;
    
}
#one{
float: left;
padding-left: 10px;
margin-right: 20PX;


}
/* p:nth-child(2){
  
} */
html #feed{
    background-color: rgb(175, 164, 117);
    text-align: center;
}

#bdy{

    background-color: cyan;
    margin-right: -10px;
    margin-left: -10px;
        
}
#contact{
    text-align: right;
    color: rgb(235, 234, 240);
    background-color: rgb(175,164,117);
    font-size: 19px;
}


#headercolor{

    background-color: rgb(230, 179, 220);

}
.gallery{

align-items: center;
}
#img3{
    margin-left: 50px;
}
#p1{
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#about{
    text-align: center;
}