.Topic{
    background-color: rgb(212, 0, 255);
    text-align: center;color: rgb(21, 0, 99);
    border-radius: 10px;
    
}
.apple{

   background: size 20px; ;
}
.image{
background-size: 10px ;
    vertical-align: bottom;
    margin-top: 20px;
    
}
